*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)), url('n.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: sans-serif;
    padding: 2%;

}
nav{
   
    height: 50px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo
{
    font-size: 2em;
    letter-spacing: 2px;

}
.menu a
{
    text-decoration: none;
    color: white;
    padding: 10px  20px;
    font-size: 20px;
    position: relative;

}
.menu a:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid indianred;
    transition: 0.4s linear;

}
.menu a:hover:before
{
    width: 90%;
}
.register a
{
    text-decoration: none;
    color: white;
    padding: 10px  20px;
    font-size: 20px;
    background-color: indianred;
    border-radius: 8px;
    transition: 0.4s;
}

.register a:hover
{
    background: transparent;
    border: 1px solid indianred;
}
.center
{
    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}

.center p
{
     letter-spacing: 3px;
}
.center h1
{
    font-size: 3.5em;
}
.center a
{
    text-decoration: none;
    color: white;
    padding: 10px  20px;
    font-size: 20px;
    background-color: indianred;
    border-radius: 8px;
    letter-spacing: 3px;
    transition: 0.4s;
}
.center a:hover
{
    background: transparent;
    border: 1px solid indianred;
}